.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('Asset/beach-nassau.jpg');
  background-size: cover;
  background-position: center;
}

input, button, ul {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  margin: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px;
}

@media (min-width: 768px) {
  input, button, ul {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  input, button, ul {
    width: 30%;
  }
}
